html {
  font-family: sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;      /* switch back to hidden */
}

header {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  height: 20%;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 15%;
  width: 100%;
}

.center {
  background-color: red;
}

.left {
  background-color: blue;
}

.right {
  background-color: green;
}
