html {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

header {
  order: 1;
  flex: 1 0 auto;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

#keypad {
  order: 2;
  flex: 5 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center
  align-content: stretch;
}

.button_row {
  flex 1 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.big_button {
  flex 1 0 auto;
  margin: 2px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
}

.small_button {
  flex 1 0 auto;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.button_label {
  font-size: 20px;

}

.button_subtext {
}


footer {
  order: 3;
  flex: 1 0 auto;
}